<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataSense AI</title>
</head>
<body>
    <h1>DataSense AI</h1>
    <h4>AI-Powered Data Quality & Model Monitoring Platform</h4>
    <h4>Version 0.1</h4>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">File:</label>
        <input type="file" name="file">
        <button type="submit" value="upload">Upload</button>
    </form>

    <hr>
    <h2>Dataset Preview</h2>
    {{table| safe}}

    <h2>Dataset summary</h2>
    <p><strong>Rows:</strong> {{rows}}</p>
    <p><strong>Columns:</strong> {{columns}}</p>
    
    <h3>Column Names:</h3>
    <ul>
        {% for column in column_names %}
            <li>{{ column }}</li>
        {% endfor %}
    </ul>

    <h2>Missing Values</h2>
    {{ missing_values|safe}}

    <p><strong>Duplicate Rows:</strong> {{ duplicate_rows }}</p>

    <h2>Data Cleaning</h2>
    <form action="/remove_duplicates" method="post">
        <button type="submit">
            Remove Duplicate Rows
        </button>
    </form>

    <br>

    <form action="/remove_missing_rows" method="post">
        <button type="submit">
            Remove Missing Rows
        </button>
    </form>

    <br>

    <form action="/fill_mean" method="post">
        <button type="submit">
            Fill Missing Values with Mean
        </button>
    </form>

    <br>

    <form action="/fill_median" method="post">
        <button type="submit">
            Fill Missing Values with Median
        </button>
    </form>

    <br>

    <form action="/fill_mode" method="post">
        <button type="submit">
            Fill Missing Values with Mode
        </button>
    </form>

    <br>

    <form action="/show_statistics" method="post">
        <button type="submit">
            Show Statistics
        </button>
    </form>

    <h3>Mean</h3>
    {{ mean_html|safe }}

    <h3>Median</h3>
    {{ median_html|safe }}

    <h3>Mode</h3>
    {{ mode_html|safe }}

    <h3>Minimum</h3>
    {{ min_html|safe }}

    <h3>Maximum</h3>
    {{ max_html|safe }}

    <h3>Standard Deviation</h3>
    {{ std_html|safe }}

    <h3>Variance</h3>
    {{ variance_html|safe }}

    <h2>Data Visualisation</h2>
    <form action="/show_histogram" method="post">
        <label for="column">Select Column:</label>
        <select name="column" id="column">
            {% for column in column_names %}
                <option value="{{ column }}">
                    {{ column }}
                </option>
            {% endfor %} 
        </select>
        <button type="submit">Show Histogram</button>
    </form>
    {% if histogram_image %}
        <h3>Histogram</h3>
        <img src="{{ url_for('static', filename=histogram_image) }}", alt="Histogram">
    {% endif %}

    <form action="/show_boxplot" method="post">
        <label for="box_column">Select Column:</label>
        <select name="column" id="box_column">
            {% for column in column_names %}
                <option value="{{ column }}">
                    {{ column }}
                </option>
            {% endfor %}
        </select>
        <button type="submit">Show Box Plot</button>
    </form>
    {% if boxplot_image %}
        <h3>Box Plot</h3>
        <img src="{{ url_for('static', filename=boxplot_image) }}" alt="Box Plot">
    {% endif %}

<p>Project Under Development</p>
</body>
</html>