<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataSense AI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}">
</head>
<body>
    <div class="container">
    <h1 class="text-center mt-4 text-primary">
        DataSense AI
    </h1>

    <p class="text-center text-muted">
        AI-Powered Data Quality & Model Monitoring Platform
    </p>

    <p class="text-center text-secondary">
        Version 0.1
    </p>

    <div class="card mt-4 shadow-sm">
        <div class="card-header bg-dark text-white">
            Upload Dataset
        </div>
        <div class="card-body p-4">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="file" class="form-label">
                        Choose CSV File
                    </label>
                    <input
                        type="file"
                        class="form-control"
                        id="file"
                        name="file">
                </div>
                <button
                    type="submit"
                    class="btn btn-primary">
                    Upload Dataset
                </button>
            </form>
        </div>
    </div>

    {% if report %}

    <hr class="my-4">
    <div class="card mt-4 shadow-sm">
        <div class="card-header bg-dark text-white">
            Dataset Preview
        </div>
        <div class="card-body p-4">
            <div class="table-responsive">
                {{ report.table | safe }}
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card h-100 shadow rounded-4">
                <div class="card-header bg-primary text-white">
                    Dataset Summary
                </div>
                <div class="card-body p-4">
                    <p class="mb-2"><strong>Rows:</strong> {{ report.rows }}</p>
                    <p class="mb-2"><strong>Columns:</strong> {{ report.columns }}</p>
                    <p class="mb-2"><strong>Memory Usage:</strong> {{ report.memory_usage }}</p>
                    <p class="mb-2"><strong>Numeric Columns:</strong> {{ report.numeric_columns }}</p>
                    <p class="mb-2"><strong>Categorical Columns:</strong> {{ report.categorical_columns }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card h-100 shadow rounded-4">
                <div class="card-header bg-success text-white">
                    Dataset Health
                </div>
                <div class="card-body p-4">
                    <p><strong>Status:</strong> {{ report.dataset_health }}</p>
                    <p>{{ report.health_message }}</p>
                    {% if report.health_issues %}
                    <ul>
                    {% for issue in report.health_issues %}
                            <li>{{ issue }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <p>🎉 No data quality issues found.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card h-100 shadow rounded-4">
                <div class="card-header bg-info text-white">
                    Dataset Overview
                </div>
                <div class="card-body p-4">
                    <p>{{ report.dataset_overview }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card h-100 shadow rounded-4">
                <div class="card-header bg-warning text-dark">
                    Machine Learning Readiness
                </div>
                <div class="card-body p-4">
                    <p><strong>Score:</strong> {{ report.ml_readiness_score }}%</p>
                    <p>{{ report.ml_readiness_message }}</p>
                </div>
            </div>
        </div>
    </div>

    
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card h-100 shadow rounded-4">
                <div class="card-header bg-info text-white">
                    Smart Recommendations
                </div>
                <div class="card-body p-4">
                    {% if report.recommendations %}
                    <ul>
                        {% for recommendation in report.recommendations %}
                            <li>{{ recommendation }}</li>
                        {% endfor %} 
                    </ul>
                    {% else %}
                    <p>🎉 No recommendations. Your dataset is ready for analysis.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card h-100 shadow rounded-4">
                <div class="card-header bg-info text-white">
                    Suggested Target Column
                </div>

                <div class="card-body p-4">

                    {% if report.target_column %}
                    <p>{{ report.target_column }}</p>
                    {% else %}
                    <p>No target column could be identified.</p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    <div class="card mt-4 shadow-sm rounded-4">
        <div class="card-header bg-info text-white">
            Column Names
        </div>
        <div class="card-body p-4">
            <ul>
                {% for column in report.column_names %}
                    <li>{{ column }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="card mt-4 shadow-sm rounded-4">
        <div class="card-header bg-info text-white">
            Column Data Types
        </div>
        <div class="card-body p-4">
            {{ report.column_types_html|safe }}
        </div>
    </div>

    <div class="card mt-4 shadow-sm rounded-4">
        <div class="card-header bg-info text-white">
            Unique Values
        </div>
        <div class="card-body p-4">
            {{ report.unique_values_html | safe }}
        </div>
    </div>
    
    <div class="card mt-4 shadow-sm rounded-4">
        <div class="card-header bg-info text-white">
            Missing Values
        </div>
        <div class="card-body p-4">
            {{ report.missing_values_html | safe }}
        </div>
    </div>

    <div class="card mt-4 shadow-sm rounded-4">
        <div class="card-header bg-info text-white">
            Missing Percentage
        </div>
        <div class="card-body p-4">
            {{ report.missing_percentage_html | safe }}
        </div>
    </div>

    <div class="card mt-4 shadow-sm rounded-4">
        <div class="card-header bg-dark text-white">
            Data Quality Analysis   
        </div>
        <div class="card-body p-4">
            <p><strong>Duplicate Rows:</strong> {{ report.duplicate_rows }}</p>
            <hr class="my-4">

            <h5 class="mt-3">Dataset Quality Score</h5>
            <p> {{ report.quality_score }}%</p>
            <hr class="my-4">
            
            <h5 class="mt-3">Missing Value Status</h5>
            <p><strong>Missing Value Status:</strong> {{ report.missing_status }}</p>
            <p>{{ report.missing_message }}</p>
            <hr class="my-4">

            <h5 class="mt-3">Duplicate Row Status</h5>
            <p><strong>Duplicate Row Status:</strong> {{ report.duplicate_status }}</p>
            <p>{{ report.duplicate_message }}</p>
            <hr class="my-4">

            <h5 class="mt-3">Constant Columns</h5>
            {% if report.constant_columns %}
                <ul>
                    {% for column in report.constant_columns %}
                        <li>{{ column }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>✅ No constant columns found.</p>
            {% endif %}
            <hr class="my-4">

            <h5 class="mt-3">Highly Correlated Columns</h5>
            {% if report.highly_correlated %}
                <ul>
                    {% for pair in report.highly_correlated %}
                        <li>{{ pair }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>✅ No highly correlated columns found.</p>
            {% endif %}  
        </div>
    </div>
    

    <form action="/download_report" method="get">
        <button type="submit" class="btn btn-dark me-2 mb-2">
            Download Analysis Report
        </button>
    </form>


    <div class="card mt-4 shadow-sm rounded-4">
        <div class="card-header bg-dark text-white">
            Data Cleaning
        </div>
        <div class="card-body p-4">
            <form action="/remove_duplicates" method="post">
                <button type="submit" class="btn btn-danger me-2 mb-2">
                    Remove Duplicate Rows
                </button>
            </form>
            <hr class="my-4">
            <form action="/remove_missing_rows" method="post">
                <button type="submit" class="btn btn-warning me-2 mb-2">
                    Remove Missing Rows
                </button>
            </form>
            <hr class="my-4">
            <form action="/fill_mean" method="post">
                <button type="submit" class="btn btn-success me-2 mb-2">
                    Fill Missing Values with Mean
                </button>
            </form>
            <hr class="my-4">
            <form action="/fill_median" method="post">
                <button type="submit" class="btn btn-success me-2 mb-2">
                    Fill Missing Values with Median
                </button>
            </form>
            <hr class="my-4">
            <form action="/fill_mode" method="post">
                <button type="submit" class="btn btn-success me-2 mb-2">
                    Fill Missing Values with Mode
                </button>
            </form>
        </div>
    </div>


    <div class="card mt-4 shadow-sm rounded-4">
        <div class="card-header bg-dark text-white">
            Statistics
        </div>
        <div class="card-body p-4">
            <h5 class="mt-3">Mean</h5>
            {{ mean_html|safe }}
            <hr class="my-4">

            <h5 class="mt-3">Median</h5>
            {{ median_html|safe }}
            <hr class="my-4">

            <h5 class="mt-3">Mode</h5>
            {{ mode_html|safe }}
            <hr class="my-4">

            <h5 class="mt-3">Minimum</h5>
            {{ min_html|safe }}
            <hr class="my-4">

            <h5 class="mt-3">Maximum</h5>
            {{ max_html|safe }}
            <hr class="my-4">

            <h5 class="mt-3">Standard Deviation</h5>
            {{ std_html|safe }}
            <hr class="my-4">

            <h5 class="mt-3">Variance</h5>
            {{ variance_html|safe }}
            <hr class="my-4">
        </div>
    </div>
    
    <div class="card mt-4 shadow-sm rounded-4">
        <div class="card-header bg-info text-white">
            Downloads
        </div>
        <div class="card-body p-4">
            <form action="/download_csv" method="get">
                <button type="submit" class="btn btn-primary me-2 mb-2">
                    Download Cleaned CSV
                </button>
            </form>
        </div>
    </div>
    <br>

    <div class="card mt-4 shadow-sm rounded-4">
        <div class="card-header bg-info text-white">
            Data Visualization
        </div>
        <div class="card-body p-4">
            <form action="/show_histogram" method="post">
                <label for="column" class="form-label">Select Column:</label>
                <select class="form-select" name="column" id="column">
                    {% for column in report.column_names %}
                        <option value="{{ column }}">
                            {{ column }}
                        </option>
                    {% endfor %} 
                </select>
                <button type="submit" class="btn btn-info me-2 mb-2">Show Histogram</button>
            </form>
            {% if histogram_image %}
                <h3>Histogram</h3>
                <img src="{{ url_for('static', filename=histogram_image) }}" class="img-fluid rounded shadow-sm" alt="Histogram">
            {% endif %}

            <hr class="my-4">
            <form action="/show_boxplot" method="post">
                <label for="box_column" class="form-label">Select Column:</label>
                <select class="form-select" name="column" id="box_column">
                    {% for column in report.column_names %}
                        <option value="{{ column }}">
                            {{ column }}
                        </option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-info me-2 mb-2">Show Box Plot</button>
            </form>
            {% if boxplot_image %}
                <h3>Box Plot</h3>
                <img src="{{ url_for('static', filename=boxplot_image) }}" class="img-fluid rounded shadow-sm" alt="Box Plot">
            {% endif %}

            <hr class="my-4">
            {% if error %}
                <p style="color:red;">{{ error }}</p>
            {% endif %}

            <form action="/show_scatter" method="post">
                <label for="x_column" class="form-label">Select X-axis: </label>
                <select class="form-select" name="x_column" id="x_column">
                    {% for column in report.column_names %}
                        <option value="{{ column }}">
                            {{ column }}
                        </option>
                    {% endfor %}
                </select>

                <label for="y_column" class="form-label">Select Y-axis: </label>
                <select class="form-select" name="y_column" id="y_column">
                    {% for column in report.column_names %}
                        <option value="{{ column }}">
                            {{ column }}
                        </option>
                    {% endfor %}
                </select>

                <button type="submit" class="btn btn-info me-2 mb-2">Show Scatter Plot</button>
            </form>

            {% if scatter_image %}
                <h3>Scatter Plot</h3>
                <img src="{{ url_for('static', filename=scatter_image) }}" class="img-fluid rounded shadow-sm" alt="Scatter Plot">
            {% endif %}

            <hr class="my-4">
            <form action="/show_heatmap" method="post">
                <button type="submit" class="btn btn-info me-2 mb-2">Show Heatmap</button>
            </form>

            {% if heatmap_image %}
                <h3>Correlation Heatmap</h3>
                <img src="{{ url_for('static', filename=heatmap_image) }}" class="img-fluid rounded shadow-sm"   alt="Correlation Heatmap">
            {% endif %}

            <hr class="my-4">
            <form action="/show_barchart" method="post">
                <label for="bar_column" class="form-label">Select Column:</label>
                <select class="form-select" name="bar_column" id="bar_column">
                    {% for column in report.column_names %}
                    <option value="{{ column }}">
                        {% if column == selected_bar_column %}selected{% endif %}>
                        {{ column }}
                    </option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-info me-2 mb-2">Show Bar Chart</button>
            </form>

            {% if barchart_image %}
                <h3>Bar Chart</h3>
                <img src="{{ url_for('static', filename=barchart_image) }}" class="img-fluid rounded shadow-sm" alt="Bar Chart">
            {% endif %}

            <hr class="my-4">
            {% if line_error %}
                <p style="color:red;">{{ line_error }}</p>
            {% endif %}
            <form action="/show_linechart" method="post">
                <label for="x_column" class="form-label">Select X-axis: </label>
                <select class="form-select" name="x_column" id="x_column">
                    {% for column in report.column_names %}
                        <option value="{{ column }}">
                            {{ column }}
                        </option>
                    {% endfor %}
                </select>

                <label for="y_column" class="form-label">Select Y-axis: </label>
                <select class="form-select" name="y_column" id="y_column">
                    {% for column in report.column_names %}
                        <option value="{{ column }}">
                            {{ column }}
                        </option>
                    {% endfor %}
                </select>

                <button type="submit" class="btn btn-info me-2 mb-2">Show Line Chart</button>
            </form>
            {% if linechart_image %}
                <h3>Line Chart</h3>
                <img src="{{ url_for('static', filename=linechart_image) }}" class="img-fluid rounded shadow-sm" alt="Line Chart">
            {% endif %}

            <hr class="my-4">
            {% if pie_error %}
            <p style="color:red;">{{ pie_error }}</p>
            {% endif %}
            <form action="/show_piechart" method="post">
                <label for="pie_column" class="form-label">Select Column:</label>
                <select class="form-select" name="pie_column" id="pie_column">
                    {% for column in report.column_names %}
                    <option value="{{ column }}">
                        {% if column == selected_pie_column %}selected{% endif %}>
                        {{ column }}
                    </option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-info me-2 mb-2">Show Pie Chart</button>
            </form>

            {% if piechart_image %}
            <h3>Pie Chart</h3>
            <img src="{{ url_for('static', filename=piechart_image) }}" class="img-fluid rounded shadow-sm" alt="Pie Chart">
            {% endif %}
            
            {% endif %}
        </div>
    </div>
   
    <p class="text-center text-muted mt-4 fst-italic">
        🚧 Project Under Development
    </p>

    <footer class="bg-dark text-white text-center p-3 mt-5">
        <h5>DataSense AI</h5>
        <p class="mb-1">
            AI-Powered Data Quality & Model Monitoring Platform
        </p>
        <p class="mb-0">
            Version 0.1 | Developed by Neelu Verma
        </p>
    </footer>
</div>
</body>
</html>