<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataSense AI</title>
</head>
<body>
    <h1>DataSense AI</h1>
    <h4>AI-Powered Data Quality & Model Monitoring Platform</h4>
    <h4>Version 0.1</h4>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">File:</label>
        <input type="file" name="file">
        <button type="submit" value="upload">Upload</button>
    </form>

    <h2>Data Cleaning</h2>
    <form action="/remove_duplicates" method="post">
        <button type="submit">
            Remove Duplicate Rows
        </button>
    </form>
    <br>
    <form action="/remove_missing_rows" method="post">
        <button type="submit">
            Remove Missing Rows
        </button>
    </form>
    <br>
    <form action="/fill_mean" method="post">
        <button type="submit">
            Fill Missing Values with Mean
        </button>
    </form>

    <h2>Dataset summary</h2>
    <p><strong>Rows:</strong> {{rows}}</p>
    <p><strong>Columns:</strong> {{columns}}</p>
    
    <h3>Column Names:</h3>
    <ul>
        {% for column in column_names %}
            <li>{{ column }}</li>
        {% endfor %}
    </ul>

    <h2>Missing Values</h2>
    {{ missing_values|safe}}

    <p><strong>Duplicate Rows:</strong> {{ duplicate_rows }}</p>

    <hr>
    <h2>Dataset Preview</h2>
    {{table| safe}}

<p>Project Under Development</p>
</body>
</html>